<html>
    <head>
        <link rel="stylesheet" href="/public/css/blog-detail.css">
    </head>
    <body>
        <nav>
            <div class="nav-left">
                <ul>
                    <li><a href="/"><img src="/public/img/a4322d2956f26251f4f07e514d0f3ef4.jpg" /></a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <a href="/contact">Contact</a>
            </div>
        </nav>

        <!-- Blog -->
        <div class="detail-blog">
            <div class="detail-blog-card">
                <h1 class="detail-blog-title">
                    {{.Blog.Title}}
                </h1>
                <div class="detail-blog-author">
                    {{.Blog.Post_date}} | {{.Blog.Author}}
                </div>
                <img src="/public/img/1086711.png" alt="photo" />
                <p class="detail-blog-content">
                    {{.Blog.Content}}
                </p>
            </div>
        </div>
    </body>
</html>