@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.card-left {
    flex: 40%;
}

.card-right {
    flex: 60%;
}