body {
    margin: 0;
    padding: 0;
}

nav {
    height: 8vh;
}

.container-fluid {
    height: 92vh;
}

.container-form {
    width: 500px;
}

.bg-orange {
    background-color: orangered;
}

.bg-orange:hover {
    background-color: #f57141;
}